<div class="page">
    <div class="nav-bar">
        <div class="nav-bar-inner padding10">
            <span class="element">
                2013 <%= siteName %> | Powered by
                <a href="http://nodejs.org" class="fg-color-white">Node.js</a> &
                <a href="http://mongodb.org" class="fg-color-white">MongoDB</a>.
            </span>
        </div>
    </div>
</div>
<!-- Load javascripts at footer -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/accordion.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/buttonset.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/calendar.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/carousel.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/contextmenu.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/dialog.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/dropdown.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/input-control.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/pagecontrol.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/pagelist.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/rating.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/slider.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/start-menu.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/tile-drag.js"></script>
<script type="text/javascript" src="/themes/modern/javascripts/tile-slider.js"></script>
<script type="text/javascript">
    hljs.initHighlighting();
</script>
</body>
</html>