    <footer>
        <hr />
        <div class="text-center">
        Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">BY-NC-SA 3.0 unported</a>.
            <br />
        2013 <%= siteName %> | Powered by <a href="http://nodejs.org">Node.js</a> & <a href="http://mongodb.org">MongoDB</a>
        </div>
    </footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">hljs.initHighlighting()</script>
    <script type="text/javascript">
        var opts = {
            container: 'epiceditor',
            textarea: "post",
            basePath: '/epiceditor',
            clientSideStorage: true,
            localStorageName: 'epiceditor',
            useNativeFullscreen: true,
            parser: marked,
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-dark.css'
            },
            button: {
                preview: true,
                fullscreen: true,
                bar: "auto"
            },
            focusOnLoad: false,
            shortcut: {
                modifier: 18,
                fullscreen: 70,
                preview: 80
            },
            string: {
                togglePreview: 'Toggle Preview Mode',
                toggleEdit: 'Toggle Edit Mode',
                toggleFullscreen: 'Enter Fullscreen'
            },
            autogrow: false
        }
        var editor = new EpicEditor(opts).load();
    </script>
</body>
</html>