    <footer>
        <hr />
        <div class="text-center">
        Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">BY-NC-SA 3.0 unported</a>.
            <br />
        2013 <%= siteName %> | Powered by <a href="http://nodejs.org">Node.js</a> & <a href="http://mongodb.org">MongoDB</a>
        </div>
    </footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">hljs.initHighlighting()</script>
</body>
</html>