<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/themes/twitter/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/themes/twitter/stylesheets/highlight.css"/>
    <title><%= title %></title>
</head>
<body style="padding-top: 70px;">


