<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/themes/twitter/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/themes/twitter/stylesheets/highlight.css"/>
    <link rel="stylesheet" href="/stylesheets/codemirror/codemirror.css"/>
    <script type="text/javascript" src="/themes/twitter/javascripts/highlight.js"></script>
    <title><%= title %></title>
</head>
<body style="padding-top: 70px;">


