<div class="legal pure-g-r">
    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-license">
                2013 <%= siteName %>
            </p>
            <p class="legal-license">
                <%= tagLine %>
            </p>
        </div>
    </div>

    <div class="pure-u-1-5">
        <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/">
                <img src="/themes/pure/img/logo-footer.png" height="30" width="65"
                     alt="YUI logo">
            </a>
        </div>
    </div>

    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-copyright">
                <a href="https://github.com/phoenixlzx/zen">Zenblog</a> powered by
                <a href="http://nodejs.org">Node.js</a> & <a href="http://mongodb.org">MongoDB</a>.
            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">hljs.initHighlighting()</script>
<script type="text/javascript">
    var opts = {
        container: 'epiceditor',
        textarea: "post",
        basePath: '/epiceditor',
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        useNativeFullscreen: true,
        parser: marked,
        theme: {
            base: '/themes/base/epiceditor.css',
            preview: '/themes/preview/github.css',
            editor: '/themes/editor/epic-dark.css'
        },
        button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
        },
        string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
        },
        autogrow: true
    }
    var editor = new EpicEditor(opts).load();
</script>
</body>
</html>