<div class="legal pure-g-r">
    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-license">
                2013 <%= siteName %>
            </p>
            <p class="legal-license">
                <%= tagLine %>
            </p>
        </div>
    </div>

    <div class="pure-u-1-5">
        <div class="l-box legal-logo">
            <a href="http://yuilibrary.com/">
                <img src="/themes/pure/img/logo-footer.png" height="30" width="65"
                     alt="YUI logo">
            </a>
        </div>
    </div>

    <div class="pure-u-2-5">
        <div class="l-box">
            <p class="legal-copyright">
                <a href="https://github.com/phoenixlzx/zen">Zenblog</a> powered by
                <a href="http://nodejs.org">Node.js</a> & <a href="http://mongodb.org">MongoDB</a>.
            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">hljs.initHighlighting()</script>
</body>
</html>