<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/themes/pure/css/pure-0.2.1.min.css"/>
    <link rel="stylesheet" href="/themes/pure/css/combo.css"/>
    <link rel="stylesheet" href="/themes/pure/css/extras.css"/>
    <link rel="stylesheet" href="/themes/pure/css/cssextras.css"/>
    <link rel="stylesheet" href="/themes/pure/css/blog.css"/>
    <link rel="stylesheet" href="/themes/pure/css/buttons.css"/>
    <link rel="stylesheet" href="/stylesheets/codemirror/codemirror.css"/>
    <link rel="stylesheet" href="/themes/pure/css/highlight.css"/>
    <script type="text/javascript" src="/javascripts/highlight.js"></script>
    <script src="/themes/pure/js/ajf8ggy.js"></script>
</head>
<body>

<div class="pure-g-r" id="layout">
    <a href="#menu" id="menuLink" class="pure-menu-link">
        <img src="/themes/pure/img/navicon-png2x.png" width="20"
             alt="Menu toggle">
    </a>
