<div>
    <ul class="pure-paginator">
        <% if(page-1){ %>
        <li><a href="?p=<%= page-1 %>" class="pure-button prev"><%= __('PREVIOUS') %></a></li>
        <% } %>
        <% if(postsLen>=10){ %>
        <li><a href="?p=<%= page+1 %>" class="pure-button next"><%= __('NEXT') %></a></li>
        <% } %>
    </ul>
</div>