<div>
    <ul class="pure-paginator">
        <% if(page-1){ %>
        <li><a href="/?p=<%= page-1 %>"><button class="pure-button prev" style="height: 3em;"><%= __('PREVIOUS') %></button></a></li>
        <% } %>
        <% if(postsLen>=10){ %>
        <li><a href="/?p=<%= page+1 %>"><button class="pure-button next" style="height: 3em;"><%= __('NEXT') %></button></a></li>
        <% } %>
    </ul>
</div>