<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
                2013 <%= siteName %> | <%= tagLine %>
            </div>
            <div class="large-4 columns">
                Powered by
                <a href="http://nodejs.org" class="fg-color-white">Node.js</a> &
                <a href="http://mongodb.org" class="fg-color-white">MongoDB</a>.
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    document.write('<script src=' +
            ('__proto__' in {} ? '/themes/foundation/js/vendor/zepto' : '/themes/foundation/js/vendor/jquery') +
            '.js><\/script>')
</script>
<script src="/themes/foundation/js/foundation/foundation.js"></script>
<script src="/themes/foundation/js/foundation/foundation.alerts.js"></script>
<script src="/themes/foundation/js/foundation/foundation.clearing.js"></script>
<script src="/themes/foundation/js/foundation/foundation.cookie.js"></script>
<script src="/themes/foundation/js/foundation/foundation.dropdown.js"></script>
<script src="/themes/foundation/js/foundation/foundation.forms.js"></script>
<script src="/themes/foundation/js/foundation/foundation.joyride.js"></script>
<script src="/themes/foundation/js/foundation/foundation.magellan.js"></script>
<script src="/themes/foundation/js/foundation/foundation.orbit.js"></script>
<script src="/themes/foundation/js/foundation/foundation.placeholder.js"></script>
<script src="/themes/foundation/js/foundation/foundation.reveal.js"></script>
<script src="/themes/foundation/js/foundation/foundation.section.js"></script>
<script src="/themes/foundation/js/foundation/foundation.tooltips.js"></script>
<script src="/themes/foundation/js/foundation/foundation.topbar.js"></script>
<script src="/themes/foundation/js/foundation/foundation.interchange.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript">
    hljs.initHighlighting();
</script>
<script type="text/javascript">
    var opts = {
        container: 'epiceditor',
        textarea: "post",
        basePath: '/epiceditor',
        clientSideStorage: true,
        localStorageName: 'epiceditor',
        useNativeFullscreen: true,
        parser: marked,
        file: {
            name: 'epiceditor',
            defaultContent: '',
            autoSave: 100
        },
        theme: {
            base: '/themes/base/epiceditor.css',
            preview: '/themes/preview/preview-dark.css',
            editor: '/themes/editor/epic-dark.css'
        },
        button: {
            preview: true,
            fullscreen: true,
            bar: "auto"
        },
        focusOnLoad: false,
        shortcut: {
            modifier: 18,
            fullscreen: 70,
            preview: 80
        },
        string: {
            togglePreview: 'Toggle Preview Mode',
            toggleEdit: 'Toggle Edit Mode',
            toggleFullscreen: 'Enter Fullscreen'
        },
        autogrow: false
    }
    var editor = new EpicEditor(opts).load();
</script>
</body>
</html>