<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/themes/foundation/css/normalize.css" />
    <link rel="stylesheet" href="/themes/foundation/css/foundation.min.css" />
    <link rel="stylesheet" href="/themes/foundation/css/highlight.css"/>
    <script type="text/javascript" src="/javascripts/highlight.js"></script>
    <script src="/themes/foundation/js/vendor/custom.modernizr.js"></script>
</head>
<body>
<div class="fixed contain-to-grid">
    <nav class="top-bar">
        
    </nav>
</div>